
/*Boton de subir, estilos*/
.submit{
  margin: auto;
  padding: 10px 20px 10px 20px;
  background-color: #efefef;
  border: solid black;
  border-radius: 20px;
}
/*Boton de subir, hover*/
.submit:hover{
  transform: scale(1.05);
  transition-duration: 0.3s;
  filter: drop-shadow(1px 4px 3px #000000);  
}
/*Estilos de los forms*/
.forms{
padding: 20px;
background-color: #efefef;
border: solid black;
border-radius: 20px;
width: 25%;
display: grid
;
justify-content: center;
align-items: center;
}

.inputs{
margin: auto;
border: 2px solid black;
}

.input{
  display: flex;
  gap: 10px;
}
/*Boton de estructura*/

.botonPrueba:hover{
  transform: scale(1.05);
  transition-duration: 0.3s;
  filter: drop-shadow(1px 4px 3px #000000);  
}
.botonPrueba{
transition-duration: 0.3s;
margin: auto;
padding: 10px 20px 10px 20px;
background-color: #efefef;
border: solid black;
border-radius: 20px;
}

/*Body estilos*/
body {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  padding: 25px;
  

  
}
/*Div hoja principal*/
.hojaBase {
  
  
  display: flex;
  
  align-items: center;
  
  border: 1px none black;
  width: 70%;
  margin: auto;
  
}
/*Div contenedor de estructura*/
/*Areas de la estrcutura*/
.baseCurriculum {
  
  transition-duration: 0.3s;
  height: 1000px;
  display: grid;
  grid-template-areas:
    "nav nav"
    "grafico grafico"
    "descripcion imagen"
    "footer footer";
  grid-template-rows: 30% 15% 35% 20%;
  grid-template-columns: 65%;
  width: 90%;
  border-radius: 20px;
  border: 2px solid black;
  background-color: #efefef;
  
}
/* Div principal navbar*/
.divsInfoN {
  grid-area: nav;
  background: ;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50% 30% auto;
  border-radius: 20px;
  transition-duration: 0.5s;
  position: relative;
}
/* Div princcipal de los graficos*/
.divsInfoG {
  grid-area: grafico;
  border-top: 2px solid black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 20% 80%;
  transition-duration: 0.5s;
 
}
/*Div principal descripcion*/
.divsInfoD {
  grid-area: descripcion;
  display: grid;
  grid-template-rows: 10% 45% 45%;
  border-radius: 20px;
  transition-duration: 0.5s;
 
}

/*HF titulo*/
.tituloD {
  display: flex;
  justify-content: start;
  font-size: 20px;
  padding-left: 23px;

  background-color:;
}
/*div mi lista 1 descripcion*/
.lista1D {
  display: grid;
  grid-template-rows: 20% 80%;
  
}
/*div mi lista 2 descripcion*/
.lista2D {
  display: grid;
  grid-template-rows: 20% 80%;
  background-color: ;
}
/*div titulo lista 1 descripcion*/
.titulo1D {
  display: flex;
  justify-content: start;
  align-items: end;
  padding-left: 23px;
  background-color: ;
}
/*div titulo lista 2 descripcion*/
.titulo2D {
  display: flex;
  justify-content: start;
  align-items: end;
  padding-left: 23px;
  background-color: ;
}
/*lista 1 posicion*/
.ul1D {
  display: flex;
  justify-content: start;
  background-color: ;
}
/*lista 2 posicion*/
.ul2D {
  display: flex;
  justify-content: start;
  background-color: ;
}

/* Contenido dentro de descripcion */

/*Div principal imagen*/
.divsInfoI {
  grid-area: imagen;
  text-align: center;
  background: ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition-duration: 0.5s;
 
  
}
/*Imagen*/
.perfilImg{
height: 95%;
width: 90%;
}
/*div principal footer*/
.divsInfoF {
  grid-area: footer;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 20px;
  transition-duration: 0.5s;
}
/*Nombre principal div*/
.Nombre {
  font-size: 70px;

  grid-column: 1 / span3;
  background-color: ;
  display: flex;
  align-items: end;
  justify-content: center;
}
/*Div profesion*/
.subTitulo {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span3;
  background-color: ;
}

/*Div telefono*/
.telefono {
  display: flex;
  justify-content: center;
  gap: 10px;

  background-color: ;
}
/*Div correo*/
.correo {
  display: flex;
  justify-content: center;
  gap: 10px;

  background-color: ;
}
/*Div ubicacion*/
.ubicacion {
  display: flex;
  justify-content: center;
  gap: 10px;

  background-color: ;
}

/*graficos divs */

.grafTitulo {
  display: flex;
  justify-content: start;
  padding-left: 23px;
  font-size: 20px;

  text-align: start;
  display: flex;
  align-items: center;
  grid-column: 1 / span4;
  background-color: ;
}

/*graficos 1 */

.grafico1 {
  display: grid;
  grid-template-rows: 80% 10%;
  background-color: ;
}
.grafico1Txt{
text-align: center;
}

/*graficos 2 */

.grafico2 {
  display: grid;
  grid-template-rows: 80% 10%;
  background-color: ;
}
.grafico1Txt2{
text-align: center;
}

/*graficos 3 */

.grafico3 {
  
  display: grid;
  grid-template-rows: 80% 10%;
  background-color: ;
}
.grafico1Txt3{
text-align: center;
}

/*graficos 4 */

.grafico4 {
  display: grid;
  grid-template-rows: 80% 10%;
  background-color: ;
}
.grafico1Txt4{
text-align: center;
}


/*graficos 5 */

.grafico5 {
  display: grid;
  grid-template-rows: 80% 10%;
  background-color: ;
}
.grafico1Txt5{
text-align: center;
}



/* Divs footer */
/*Div principal educacion*/
.infoIco {
  padding-left: 20px;
  padding-right: 20px;

  background-color: ;
}

/*Div principal cuadricula iconos*/
.iconosInfo {
  display: grid;
  grid-template-rows: 15% 85%;
  background-color: ;
}

/* Div footer 1 */
/*Titulo educacion*/
.educacion {
  text-align: start;
  background-color: ;
  font-size: 20px;
  margin-bottom: 5px;
}

/*Escuela/colegio*/
.listasF {
  display: grid;
  grid-template-rows: auto auto auto auto;
  background-color: ;
}
/*Escuela titulo*/
.subTitulo1 {
  text-align: start;

  background-color: ;
}
/*Colegio titulo*/
.subTitulo2 {
  text-align: start;
  background-color: ;
}
/*lista 1 escu*/
.ul1 {
  display: flex;
  justify-content: start;
  text-align: start
  background-color: ;
}
/*lista 1 cole*/
.ul2 {
  display: flex;
  justify-content: start;
  background-color: ;
}

/* Div footer 2 */

/*hobby titulo*/
.hobby {
  text-align: start;
  padding-left: 10px;
  font-size: 20px;
  
  background-color: ;
}
/*iconos div principal*/
.iconos {
  display: grid;
  grid-template-columns: 70% 30%;

  background-color: ;
}

/*contenedor cuadricula*/
.contenedorIcons {
  margin-bottom: 10px;
  border-left: 2px solid black;
  background-color: ;
  display: grid;
  grid-template-columns: auto auto;
}
/*cuadricula iconos*/
.iconF {
  display: grid;
  justify-content: center;
  grid-template-rows: 70% 30%;
  
}
/*icono cuadricula*/
.imagIcon {
  background-color: ;
}
/*texto del icono*/
.imagIconT {
  width: 45px;
  height: 45px;
}

