body{
   text-align: center;
}
/*Div hoja principal*/
.hojaBase{
    background-color: aquamarine;
    border: 2px solid black;
    width: 70%;
    margin: auto;
    
  
}
/*Div contenedor de estructura*/
.baseCurriculum{
height: 900px;
display: grid;
grid-template-areas: 'nav nav'
                     'grafico grafico'
                     'descripcion imagen'
                     'footer footer';
grid-template-rows: 25% 15% 40% 20%;
grid-template-columns: 65%;          
width: 90%;
margin: auto;
background-color: blueviolet;
border: 2px solid black;
margin-top: 5%;
margin-bottom: 5%;
}


/* Divs infos*/
.divsInfoN{
grid-area: nav;
text-align: center;
background: lightcoral;
border: 2px solid black;
display: flex;
    justify-content: center;
    align-items: center;

}

.divsInfoG{
   grid-area: grafico;
    text-align: center;
    background: lightblue;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divsInfoD{
    grid-area: descripcion;
    text-align: center;
    background: lightgreen;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.divsInfoI{
    grid-area: imagen;
    text-align: center;
    background: lightgrey;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divsInfoF{

    grid-area: footer;
    text-align: center;
    background: lightseagreen;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

